* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  background-color: #161616;
  font-family:
    SUIT Variable,
    -apple-system,
    BlinkMacSystemFont,
    Apple SD Gothic Neo,
    Roboto,
    Noto Sans KR,
    Segoe UI,
    Malgun Gothic,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img,
svg,
video {
  display: block;
}
